@import 'variables';

.post-type-archive .site .site-content .col-full {
    margin-left: 10%;
    margin-right: 10%;
  }

  .woocommerce-products-header {
      margin-top: 100px;
  }

.storefront-sorting~.storefront-sorting {
     opacity: 0;
  }
  